@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-center">
    <h2 class="display-4">Welcome on Board!</h2>
    <p>Board is interactive Kanban board in which you can add and manage your project tasks.</p>
    <br />
    <p><img id="pageImage" src="~/img/krowa.png" width="500" height="500" /></p>
</div>

<script src="~/js/homepage.js"></script>