@model string

<div class="page-header">
    <h1>
        Kod u¿ytkownika
    </h1>
    <p>
        Proszê wpisz kod wyœwietlony na urz¹dzeniu
    </p>
    <form asp-action="UserCodeCapture" method="post">
        <input for="userCode" name="userCode" />
        <button class="btn btn-primary">Wyœlij</button>
    </form>
</div>