@model string

<div class="page-header">
    <h1>
        Kod użytkownika
    </h1>
    <p>
        Proszę wpisz kod wyświetlony na urządzeniu
    </p>
    <form asp-action="UserCodeCapture" method="post">
        <input for="userCode" name="userCode" />
        <button class="btn btn-primary">Wyślij</button>
    </form>
</div>