@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page my_background">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Witaj na IdentityServer4
                <small class="version">(wersja @version)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <p>
                IdentityServer publikuje
                <a href="~/.well-known/openid-configuration">Discovery Document</a>,
                gdzie możesz znaleźć metadane, linki do wszystkich urządzeń końcowych i więcej...
            </p>
        </div>
        <div class="col-sm-9">
            <p>
                Kliknij <a href="~/grants">tutaj</a>, by zarządzać przyznanymi zgodami.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p>
                Tutaj są linki do
                <a href="https://github.com/identityserver/IdentityServer4">kodu źródłowego IdentityServera4</a>,
                i <a href="https://github.com/IdentityServer/IdentityServer4/tree/master/samples">gotowe do użycia przykłady</a>.
            </p>
        </div>
    </div>
</div>
