@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page my_background">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.png">a 
                Witaj w centralnym punkcie logowania
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <p>
                Zobacz
                <a href="~/.well-known/openid-configuration">Discovery Document</a>,
                gdzie możesz znaleźć metadane, linki do wszystkich urządzeń końcowych i więcej...
            </p>
        </div>
    </div>
</div>
