@model RedirectViewModel

<h1>Jesteœ teraz przekierowywany do aplikacji.</h1>
<p>Jak ta operacja siê zakoñczy, mo¿esz wy³¹czyæ tê kartê</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
