@model RedirectViewModel

<h1>Jesteś teraz przekierowywany do aplikacji.</h1>
<p>Jak ta operacja się zakończy, możesz wyłączyć tę kartę</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
